<section class="calc">
  <h3 class="calcTitle"></h3>
  <form class="calcForm">
    <div class="calcForm__btn js-form"></div>
    <div class="calcForm__power">
      <label class="label">potencia</label>
      <input type="number" class="input js-input-power" value="0" />
    </div>
    <div class="calcForm__tax">
      <label class="label">incluir impuestos</label>
      <input type="checkbox" class="input checkbox" />
    </div>
    <div class="calcForm__hours">
      <label class="label">horas de funcionamiento</label>
      <input type="number" class="input js-input-hours" value="0" />
    </div>
  </form>
</section>
