<section class="info">
  <div class="line"></div>
  <include src="./dropdown.html"></include>
  <div class="info__text dropdowncontainer hidden">
    <p>
      A partir del 1 de junio de 2021 entra en vigor la nueva factura de la luz
      diseñada por la Comisión Nacional de los Mercados y la Competencia (CNMC)
      y el Ministerio para la Transición Ecológica y el Reto Demográfico
    </p>
    <p>
      Esta nueva tarifa se basa en tres principales tramos horarios: ‘punta’,
      ‘llano’ y ‘valle’. Periodo punta: Se trata de los horarios en que la
      electricidad será más cara, y va de e 10.00 a 14.00 y de 18.00 a 22.00 de
      lunes a viernes los días no festivos. Periodo llano: En esta franja
      horario el precio de la luz será intermedio, va de 8.00 a 10.00 de la
      mañana, de 14.00 a 18.00 y de 22.00 a 00.00 de lunes a viernes no
      festivos. Periodo valle: En esta franja el precio de la electricidad será
      lo más barata posible, y comprende el horario nocturno: de 00.00 a 08.00 y
      todas las horas del sábado y domingo, así como los festivos nacionales.
    </p>
    <p>
      · Periodo punta: Se trata de los horarios en que la electricidad será más
      cara, y va de e 10.00 a 14.00 y de 18.00 a 22.00 de lunes a viernes los
      días no festivos.
    </p>
    <p>
      · Periodo llano: En esta franja horario el precio de la luz será
      intermedio, va de 8.00 a 10.00 de la mañana, de 14.00 a 18.00 y de 22.00 a
      00.00 de lunes a viernes no festivos.
    </p>
    <p>
      · Periodo valle: En esta franja el precio de la electricidad será lo más
      barata posible, y comprende el horario nocturno: de 00.00 a 08.00 y todas
      las horas del sábado y domingo, así como los festivos nacionales.
    </p>
    <p>
      Para el caso de Ceuta y Melilla, el periodo punta comprende la franja
      horaria de las 11:00 y las 15:00 junto con el que abarca de las 19:00 a
      las 23:00, de lunes a viernes y el periodo llano va de las 8:00 y las
      11:00, entre las 15:00 y las 19:00, y entre las 23:00 y las 00:00, de
      lunes a viernes.
    </p>
  </div>
</section>
