<main class="main">
  <h1 class="main__title title">electrike</h1>
  <div class="line"></div>
  <section class="info">
    <p class="info__text">
      A partir del 1 de junio de 2021 entra en vigor la nueva factura de la luz
      diseñada por la Comisión Nacional de los Mercados y la Competencia (CNMC)
      y el Ministerio para la Transición Ecológica y el Reto Demográfico
    </p>
    <p class="info__text">
      Esta nueva tarifa se basa en tres principales tramos horarios: ‘punta’,
      ‘llano’ y ‘valle’. El periodo ‘punta’, en el que el coste de los peajes y
      los cargos será más alto, estará comprendido entre las 10.00 y las 14.00
      horas y las 18.00 y 22.00 horas; el tramo ‘llano’, con un coste
      intermedio, se situará entre las 08.00 y las 10.00 horas, las 14.00 y las
      18.00 horas y entre las 22.00 y 00.00 horas; y la tarifa ‘valle’, la más
      barata de las tres, se ubicará entre medianoche y las ocho de la mañana y
      se aplicará durante todas las horas de los fines de semana y festivos.
    </p>
  </section>
  <section class="container">
    <div class="resume">
      <p class="resume__lowPrice">hora más barata</p>
      <p class="resume__highPrice">hora más cara</p>
    </div>
    <div class="prices">
      <h2 class="prices__title">tabla de precios según horas</h2>
      <table class="table js-table">
        <tr class="table__title">
          <td class="table__title--hour">hora</td>
          <td class="table__title--price">precio</td>
          <td class="table__title--icon"></td>
        </tr>
        <tr>
          <td class="table__hour js-hour"></td>
          <td class="table__price js-price"></td>
          <td></td>
        </tr>
      </table>
    </div>
  </section>
</main>
