<main class="main">
  <section class="container">
    <div class="resume">
      <div class="resume__lowPrice js-low"></div>
      <div class="resume__highPrice js-high"></div>
    </div>
    <div class="prices">
      <h2 class="prices__title">tabla de precios según horas</h2>
      <table class="table js-table">
        <tr class="table__title">
          <td class="table__title--hour">hora</td>
          <td class="table__title--price">precio</td>
          <td class="table__title--icon"></td>
        </tr>
        <tr>
          <td class="table__hour js-hour"></td>
          <td class="table__price js-price"></td>
          <td class="table__var js-var"></td>
        </tr>
      </table>
    </div>
  </section>
</main>
