<main class="main">
  <section class="container">
    <div class="resume">
      <div class="resume__lowPrice js-low"></div>
      <div class="resume__highPrice js-high"></div>
    </div>
    <div class="prices">
      <h2 class="prices__title">tabla de precios según horas</h2>
      <div>
        <ul class="tabs" id="tabs">
          <li id="opt1" class="js-options tabs__item active">PCB</li>
          <li id="opt2" class="js-options tabs__item">CYM</li>
        </ul>
        <div class="table">
          <table id="tab1" class="table__item js-table active">
            <tr class="table__title">
              <td class="table__title--hour">hora</td>
              <td class="table__title--price">precio</td>
              <td class="table__title--icon"></td>
            </tr>
            <tr>
              <td class="table__hour js-hourPCB"></td>
              <td class="table__price js-pricePCB"></td>
              <td class="table__var js-varPCB"></td>
            </tr>
          </table>
          <table id="tab2" class="table__item js-table">
            <tr class="table__title">
              <td class="table__title--hour">hora</td>
              <td class="table__title--price">precio</td>
              <td class="table__title--icon"></td>
            </tr>
            <tr>
              <td class="table__hour js-hourCYM"></td>
              <td class="table__price js-priceCYM"></td>
              <td class="table__var js-varCYM"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
