<div class="date js-date"></div>
<div class="nextDay" id="btn">
  <button class="btn__item nextDay__btn btn-info js-currentDay">hoy</button>
  <button class="btn__item nextDay__btn btn-info js-nextDay active">
    mañana
  </button>
</div>
<div class="notPrices js-notPrices"></div>
<div class="prices row">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <include src="./currentPrice.html"></include>
    <div class="resume">
      <div class="resume__item active">
        <div class="resume__lowPrice js-lowPCB"></div>
        <div class="resume__highPrice js-highPCB"></div>
      </div>
      <div class="resume__item">
        <div class="resume__lowPrice js-lowCYM"></div>
        <div class="resume__highPrice js-highCYM"></div>
      </div>
    </div>
    <div class="legend">
      <i class="fas fa-square legend__icon--low"></i>
      <p class="legend__text">valle</p>
      <i class="fas fa-square legend__icon--medium"></i>
      <p class="legend__text">llano</p>
      <i class="fas fa-square legend__icon--high"></i>
      <p class="legend__text">punta</p>
    </div>
  </div>
  <div class="prices__table col-xs-12 col-sm-12 col-md-6">
    <ul class="tabs" id="tabs">
      <li class="tabs__item active">Península, Canarias y Baleares (PCB)</li>
      <li class="tabs__item">Ceuta y Melilla (CYM)</li>
    </ul>
    <section class="table">
      <table class="table__item js-table active">
        <thead>
          <tr class="table__title">
            <th class="table__title--hour size" scope="col">hora</th>
            <th class="table__title--price size2" scope="col">precio</th>
            <th class="table__title--icon size" scope="col">variación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table__hour js-hourPCB size" scope="row"></td>
            <td class="table__price js-pricePCB size2"></td>
            <td class="table__var js-varPCB size"></td>
          </tr>
        </tbody>
      </table>
      <table class="table__item js-table">
        <thead>
          <tr class="table__title">
            <th class="table__title--hour size" scope="col">hora</th>
            <th class="table__title--price size2" scope="col">precio</th>
            <th class="table__title--icon size" scope="col">variación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table__hour js-hourCYM size" scope="row"></td>
            <td class="table__price js-priceCYM size2"></td>
            <td class="table__var js-varCYM size"></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
