<div class="prices">
  <h2 class="prices__title">tabla de precios según horas</h2>
  <p class="prices__info">PCB = Península, Canarias y Baleares</p>
  <p class="prices__info">CYM = Ceuta y Melilla</p>
  <div class="resume">
    <div class="resume__item active">
      <div class="resume__lowPrice js-lowPCB"></div>
      <div class="resume__highPrice js-highPCB"></div>
    </div>
    <div class="resume__item">
      <div class="resume__lowPrice js-lowCYM"></div>
      <div class="resume__highPrice js-highCYM"></div>
    </div>
  </div>
  <div>
    <ul class="tabs" id="tabs">
      <li class="tabs__item active">PCB</li>
      <li class="tabs__item">CYM</li>
    </ul>
    <section class="table">
      <table class="table__item js-table active">
        <thead>
          <tr class="table__title">
            <th class="table__title--hour" scope="col">hora</th>
            <th class="table__title--price" scope="col">precio</th>
            <th class="table__title--icon" scope="col">variación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table__hour js-hourPCB" scope="row"></td>
            <td class="table__price js-pricePCB"></td>
            <td class="table__var js-varPCB"></td>
          </tr>
        </tbody>
      </table>
      <table class="table__item js-table">
        <thead></thead>
        <tr class="table__title">
          <th class="table__title--hour" scope="col">hora</th>
          <th class="table__title--price" scope="col">precio</th>
          <th class="table__title--icon" scope="col">variación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table__hour js-hourCYM" scope="row"></td>
          <td class="table__price js-priceCYM"></td>
          <td class="table__var js-varCYM"></td>
        </tr>
      </tbody>
      </table>
    </section>
 
  </div>
</div>
