// colors

$resume-background: #d5d5d525;
$dropdown-background: #ffffff;
$tabs-background: #d5d5d525;
$footer-background: #d5d5d525;
$color-title: #285701;
$color-textResume: #285701;
$color-date: #454d3e;
$color-active: #2a5d008f;
$tableBorder: #d5d5d5;
$infoBorder: #d5d5d5;
$color-lines: #d8d8d8;
$color-icon: black;
$up-icon: red;
$down-icon: green;
$highPrice: rgba(255, 0, 0, 0.15);
$mediumPrice: rgba(255, 157, 0, 0.15);
$lowPrice: rgba(78, 210, 75, 0.15);

// fonts
$font-index: "Merriweather", serif;
$font-principal: "Montserrat", sans-serif;
$font-main: "Open Sans", sans-serif;
