@import "../core/core";

.dropdowncontainer {
  overflow: hidden;
}

.hidden {
  display: none;
}

.changeArrow {
  width: 1rem;
  height: 1.13rem;
  font-size: 1.13rem;
  position: absolute;
  right: 1rem;
  transform: rotate(180deg);
  position: absolute;
  right: -1rem;
}

.dropdown {
  background-color: $dropdown-background;
  border-bottom: 0.1rem solid $infoBorder;
  margin: 2rem 2rem 0 2rem;
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-title;
    text-transform: capitalize;
  }
  &__arrow {
    width: 1rem;
    height: 1.13rem;
    font-size: 1.13rem;
    position: absolute;
    right: 1rem;
  }
}
