@import "../core/core";

.info {
  font-size: 1rem;
  text-indent: 1rem;
  &__text {
    margin-top: 1rem;
    text-align: justify;
    padding: 2rem;
  }
  @include tablet() {
    font-size: 1.2rem;
    max-width: 50rem;
    margin: auto;
    padding: 0;
  }
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: $color-title;
  @include tablet() {
    height: 0.15rem;
  }
  @include desktop() {
    height: 0.2rem;
  }
}
