@import "../core/core";

.info {
  padding: 0 2rem 0;
  font-size: 0.8rem;
  text-indent: 1rem;
  &__text {
    margin-top: 1rem;
    text-align: justify;
    padding: 1rem;
  }
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: $color-title;
  @include tablet() {
    height: 0.15rem;
  }
  @include desktop() {
    height: 0.2rem;
  }
}
