@import "../core/core";

.resume {
  color: $color-textResume;
  background-color: $resume-background;
  padding: 0.5rem 1.5rem 1rem;
  margin: 1.5rem 0 2rem;
  p {
    margin: 0rem;
  }
  &__item {
    display: none;
    &.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  @include tablet() {
    max-width: 40rem;
    margin: 1.5rem auto 2rem;
  }
}
p.priceTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
}
p.place {
  font-weight: bold;
  margin: 0.3rem 0;
  text-indent: 1rem;
}

.prices {
  &__title {
    color: $color-title;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5rem 0 1rem;
    @include tablet() {
      max-width: 40rem;
      margin: 1.5rem auto 1rem;
    }
  }
  &__info {
    color: $color-title;
    font-size: 0.8rem;
    @include tablet() {
      max-width: 40rem;
      margin: 1rem auto;
    }
  }
  &__table {
    max-width: 40rem;
    margin: auto;
  }
}

ul.tabs {
  width: 100%;
  list-style: none;
  display: flex;
}

.tabs {
  font-size: 1rem;
  text-align: center;
  display: block;
  border: 1px solid $tableBorder;
  border-bottom: none;
  margin: 0;
  background: $tabs-background;
  &__item {
    width: 100%;
    padding: 0.5rem;
    &.active {
      background: $color-active;
      color: #fff;
    }
  }
}

.table {
  border: 1px solid $tableBorder;
  border-top: none;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  &__title {
    color: $color-title;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  &__item {
    display: none;
    &.active {
      display: inline;
    }
  }
}
.table tr {
  border-top: hidden;
}

.units {
  @include miniMobile() {
    display: none;
  }
}
.size {
  width: 20%;
}
.size2 {
  width: 80%;
}
