@import "core/reset";
@import "core/variables";
@import "core/mixins";
@import "layout/main";
@import "layout/info";
@import "layout/dropdownInfo";
@import "layout/table";

html {
  font-size: 100%;
  padding: 1rem;
  @include tablet() {
    padding: 1.5rem 4rem;
  }
  @include desktop() {
    padding: 2rem 8rem;
  }
}

.title {
  width: 100%;
  padding: 2rem;
  color: $color-title;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  @include tablet() {
    font-size: 4rem;
  }
  @include desktop() {
    font-size: 5rem;
  }
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: $color-title;
  @include tablet() {
    height: 0.15rem;
  }
  @include desktop() {
    height: 0.2rem;
  }
}
